@import './font';

//global text filed theme
.MuiInputBase-root {
  .MuiFilledInput-input {
    padding: 10px !important;
    font-family: 'Lato';
    font-size: 14px !important;
  }

  &::before {
    border-bottom: none !important;
  }
}

//change width for logout modal
#logout-modal {
  .MuiPaper-root {
    width: 800px;
  }
}

//Table
#crm-table {
  .MuiPaper-root {
    height: auto;
  }
  .MuiDataGrid-menuIcon {
    display: none !important;
  }
}
