//colors
$primary-color: #fec601;
$secondary-color: #1a1a1a;
$primary-lightColor: rgb(255, 220, 100);
$white-color:#fff;
$black-color:#000;

//break points
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
