@import '../../assets/scss/variable';
.dashboardContainer {
  display: flex;
}
.dashboardCompanyLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-left: 2px;
}
.toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .headerSearchBar {
    flex-grow: 1;
    margin: 0 15px;
  }
  .headerRightSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
.listItem {
  display: block;
  &.active {
    background-color: $primary-lightColor;
  }
  &:hover {
    background-color: $primary-color;
  }
}
.searchBarPosition{
  position: fixed; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: white;
  z-index: 1300; 
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
}