@import '../../../assets//scss//mixin';
@import '../../../assets/scss/variable';
.dashboardContainer {
  display: flex;
.createRoleButton{
  text-align: right;
  width: 100%;
  @include respond-to($md){
    display: flex;
    justify-content: center;
    min-width: 100vw;
  }
}
.chipButton{
    margin-right:10px;
  }
}
.modalStyle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:$white-color;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  padding: 16px;
}
.createRoleModal{
    height: 400px;
    width: 700px;
  
}


