@import '../../../assets/scss/variable';
.CreateUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  .CreateUserLeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    .basicInfoWrapper,
    .experienceWrapper {
      padding: 30px 40px;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      div {
        margin-bottom: 10px !important;
        height: 70px;
        border-radius: 10px;
      }
    }
    .profilePicture {
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .chooseFileButton {
      border-radius: 10px !important;
      &:hover {
        background-color: $primary-lightColor;
      }
    }
    .viewButton {
      padding: 5px;
      border-radius: 10px;
      margin-top: 10px;
      &:hover {
        background-color: $primary-color;
        color: rgb(0, 0, 0);
      }
    }
    .downloadButton {
      border-radius: 10px;
      margin-top: 10px;
      &:hover {
        background-color: $primary-lightColor;
      }
    }
    .profilePictureBox{
      margin-top: 10px;
    }
    .experienceSection {
      display: flex;
      gap: 35px;
    }
  }
}
.createUserHeading {
  font-weight: 500 !important;
  margin-bottom: 25px !important ;
}
.createUserSave{
  display: flex;
  justify-content: flex-end;
  padding:50px;
  button{
    border-radius: 10px;
    padding:10px;
    &:hover{
      background-color:$primary-lightColor;
    }
  }
 

}
