@import '../../../assets/scss/variable';

.CreateUserContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;

  .CreateUserLeftContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .basicInfoWrapper,
    .experienceWrapper {
      padding: 30px 40px;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .basicInfoWrapper div,
    .experienceWrapper div {
      height: 60px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .chooseFileButton:hover {
      background-color: $primary-lightColor;
    }

    .experienceSection {
      display: flex;
      gap: 35px;
    }
  }

  .createUserHeading {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
}

.CreateUserRightContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.userRoleContainer,
.usersPermissionContainer {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.MuiFormControl-root {
  width: 100%;
}

.MuiTypography-root {
  font-size: 14px;
  margin-top: 5px;
}

.usersPermissionContainer {
  .permissionSection {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    .MuiTypography-h6 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .MuiFormControlLabel-root {
      margin-left: 10px;
    }
  }
}
