.profileMenu {
  position: relative; // Keeps it aligned without forcing it to the right corner
  top: 8px; // Adjust from the top
  margin-left: 15px; // Adds spacing from the notification icon
  cursor: pointer;
  font-size: 24px; // Medium icon size

  svg {
    font-size: 34px; // Adjust the icon size
  }
}

.menu {
  margin-top: 10px; // Adjust the menu position
}

.profileSection {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  width: 40px; // Medium avatar size
  height: 40px;
  margin-right: 10px;
 
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-weight: bold;
}

.profileEmail {
  color: gray;
  font-size: 14px;
}
