.dashboardContainer {
  display: flex;
}
.dashboardCompanyLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
