@import "../../../assets/scss//global";
@import "../../../assets/scss//variable";
@import "../../../assets/scss/mixin";

.pageContainer {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
  .gridContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-to($md) {
      flex-direction: column;
    }

    .leftSection {
      @include respond-to($md) {
        width: 350px;
      height: 350px;
      }
      width: 450px;
      height: 450px;
      img {
        width:100%;

        @include respond-to($md) {
          height: auto;
        }
      }
      @include respond-to($sm) {
        display: none;
      }
    }

    .rightSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:20px;
      .logoSection {
        width: 30%;
        height: auto;
        @include respond-to($md) {
          width: 200px;
          height: auto;
        }
        @include respond-to($sm) {
          width:150px;
        }
        img {
           width:100%;
         
        }
      }
      .loginHeading {
        font-weight: bolder;
        font-size: 30px;
        color: #FFC727;
        margin-bottom: 10px;
        @include respond-to($sm) {
          font-size: 25px;
        }
      }
      .employeeIdInput,
      .passwordInput {
        width: 350px;
        @include respond-to($sm) {
          width:300px;
        }

      }
      .LoginButton{
        width:150px;
        height: auto;
      }
    }
  }

}