@import '../../../../assets/scss/variable';
.modalWrapper {
  width:  950px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.borderLine {
  border: 1px solid $primary-color;
  margin-bottom: 10px;
}
.divider{
  border:1px solid $primary-lightColor;
  margin-bottom: 20px;
}
.divisionLine {
   
  height: 100%;
  border-left: 1px solid #ccc;
}