.profileMenu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  .menuItem {
    font-size: 15px;
    line-height: 30px;
    width: 140px;
    &:hover {
      background-color: #fec601;
    }
  }
}
